.planner {
    
    height: 90vh;
    margin: 0 auto;
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    background-color: rgb(247, 247, 247);
    border: 1px solid;
    font-family: 'Lexend Deca', sans-serif;
    padding-bottom: 10px;

}

h1{
    text-align: center;
    padding: 20px;
}

.time {
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
}

th {
    width: 10vw;
    border: 1px solid;
    border-color: black;
    margin: 0;
    background-color: rgb(185, 1, 130);
    color: white;
    text-align: center !important;
}

td {
    width: 80vw;
    border: 1px solid;
}

textarea {
    width: 70vw
}

.save-btn {
    width: 8vw;
    border: .5px solid;
    margin: 0;
    height: 9vh;
    border-color: whitesmoke;
    border-width: thin;
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 20%;
}

